/* Desktop View */
.container {
  margin: 118px 116px;
  display: flex;
  align-items: center;
}

.text-content {
  width: 45%;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-container {
  width: 55%;
  text-align: right;
}

.banner-image {
  width: 88%;
  max-width: 640px;
  height: auto;
}

.header-text {
  color: #10dde8;
  font-size: 20px;
  font-weight: 800;
  line-height: 0;
  letter-spacing: 0.085em;
}

.sub-header-text {
  color: #1b1743;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.03em;
}

.service-description {
  color: #2a2f32;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.book-button {
  display: inline-flex;
  align-items: center;
  max-width: 245px;
  background-color: #0058ff;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.02em;
  gap: 12px;
  padding: 10px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

/* Tablet View */
@media (width <= 768px) {
  .container {
    margin: -78px 28px 0;
  }

  .text-content {
    width: 46%;
  }

  .image-container {
    width: 54%;
  }

  .banner-image {
    width: 296px;
    height: 248px;
    object-fit: cover;
    border-bottom-left-radius: 80px;
  }

  .header-text {
    font-size: 14px;
    letter-spacing: 0.114em;
  }

  .sub-header-text {
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.018em;
    margin: 15px 0;
  }

  .service-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin: 0 0 24px;
    letter-spacing: -0.007em;
  }

  .book-button {
    font-size: 14px;
    padding: 8px 24px;
    max-width: 224px;
    border-radius: 8px;
    letter-spacing: 0.007em;
  }
}

/* Mobile View */
@media (width <= 390px) {
  .container {
    height: 100vh;
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .text-content {
    width: calc(100vw - 48px);
    height: 250px;
  }

  .image-container {
    width: 100vw;
    margin: 0;
  }

  .banner-image {
    width: 100%;
    height: 278px;
    max-width: 390px;
    border-bottom-left-radius: 0;
  }

  .header-text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.093em;
  }

  .sub-header-text {
    width: 80%;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.025em;
    margin-top: 5px;
  }

  .service-description {
    width: 90%;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.036em;
    margin-bottom: 20px;
  }

  .book-button {
    max-width: 212px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    padding: 10px 20px;
  }
}
